#post_entry{
    padding-top: 10%;
}

#image_post_entry{
    padding-left: 5%;
}

#image_post_entry img{
    width: 50%;
}

#content_blog_index{
    padding-right: 5%;
}

#content_blog_index_no_image{
    padding: 0% 5%;
}

#button_show{
    margin-top: 5%;
}

#button_create{
    width: 115px;
    left: auto;
}
